<div class="card">    
    <div class="card-body">
        <label>In the below box, message will load automatically from child when it is initialized.</label>
        <div class="box blue">{{msgOnChildCompInit}}</div>

        <div class="line"></div>

        <label>In the below box, message will appear when user click on the button from the child component.</label>
        <div class="box blue">{{msgOnButtonClick}}</div>

        <div class="line"></div>

        <app-childcomp 
        (childButtonEvent)="receivedMessageHandler($event)"
        (onInitEvent)="receiveAutoMsgHandler($event)">
        </app-childcomp>
    </div>
</div>